@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor1: #F2F2F2;  
    --cor2: #037F8C;  
    --cor3: #16498C;  
    --cor4: #025E73;  
    --cor5: #024059;  
    
    --fonte-padrao: 'Arial', 'Helvetica', sans-serif;
    --fonte-destaque: 'Archivo', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor5);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    max-height: 150px;
    text-align: center;
    padding: 40px 10px 20px;
}

header h1 {
    color: white;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: transparent;
    padding: 10px;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
}

main h2 {
    background-image: radial-gradient(to right, var(--cor5), transparent);
    font-family: var(--fonte-destaque);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main img {
    margin: auto;
    display: block;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.24);
}

section ul  {
        list-style-type: '\1F5F8\00A0\00A0';
        list-style-position: inside;
        columns: 1;
}

.habilidades li {
    margin: 15px 0px;
}

.curriculo {
    margin-top: 30px;
}

.curriculo h2 {
    font-family: var(--fonte-destaque);
    margin-bottom: 15px;
}

.curriculo-box {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border: 2px solid var(--cor3);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

.curriculo-box iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}


footer {
    background-image: linear-gradient(to bottom, var(--cor5) , var(--cor2));;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

footer > div {
    padding-top: 10px;
}

footer> div > p {
    padding-top: 10px;
}

.icon::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.github::after { background-image: url('../imagens/icone-github.png'); }
.linkedin::after { background-image: url('../imagens/icone-linkedin.png'); }
.instagram::after { background-image: url('../imagens/icone-instagram.png'); }
.email::after { background-image: url('../imagens/icone-email.png'); }
.whatsapp::after { background-image: url('../imagens/icone-whatsapp.png'); }